In [206]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [207]:

pd.set_option('display.max_columns', None)  # Mostrar todas las columnas en la salida
# Ruta del archivo
ruta_archivo = r"..\csv\raw\Csv_Todas_Columnas.csv"

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(ruta_archivo, decimal=',', index_col=0)

# Mostrar las primeras filas para comprobar
df.head()

,glucosa,colesterol,trigliceridos,hemoglobina,leucocitos,plaquetas,creatinina,diabetes,hipertension,obesidad,cancer,enfermedad_cardiaca,asma,epoc,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF,ingresos_mensuales,gastos_salud,seguro_salud,deudas,tipo_empleo,ayudas_publicas,fumador,alcohol,actividad_fisica,vive,edad,sexo,estado_civil,nivel_educativo,ocupacion,region,pais_nacimiento,codigo_postal
paciente_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
P1000000,108.81,226.16,161.07,13.24,6.12,258.09,0.97,1,1,1,0,1,0,0,0,0,0,0,0,0,1,2699.72,450,1,0,Público,1,1,1,Baja,1,69,F,Viudo,Secundaria,Empleado,Centro,Indonesia,98471
P1000001,74.23,148.89,110.77,13.68,6.97,278.32,0.85,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3403.55,150,1,0,Temporal,1,0,1,Moderada,0,32,M,Soltero,Universitaria,Autónomo,Sur,Brazil,23903
P1000002,88.61,177.53,91.93,12.76,7.54,245.35,1.59,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2422.41,150,1,0,Desempleado,1,1,1,Baja,1,89,M,Viudo,Primaria,Desempleado,Norte,Saint Pierre and Miquelon,20094
P1000003,90.92,203.97,121.79,12.95,8.56,245.11,1.26,1,0,1,1,1,0,0,0,0,0,1,0,0,0,1695.42,450,1,0,Temporal,1,1,1,Baja,0,78,M,Viudo,Secundaria,Autónomo,Centro,Indonesia,55575
P1000004,69.17,154.33,78.34,12.34,8.20,234.44,0.88,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1709.51,150,1,0,Temporal,1,1,1,Moderada,1,38,F,Soltero,Posgrado,Autónomo,Norte,Chile,20826

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, P1000000 to P1049999
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   glucosa              50000 non-null  float64
 1   colesterol           50000 non-null  float64
 2   trigliceridos        50000 non-null  float64
 3   hemoglobina          50000 non-null  float64
 4   leucocitos           50000 non-null  float64
 5   plaquetas            50000 non-null  float64
 6   creatinina           50000 non-null  float64
 7   diabetes             50000 non-null  int64
 8   hipertension         50000 non-null  int64
 9   obesidad             50000 non-null  int64
 10  cancer               50000 non-null  int64
 11  enfermedad_cardiaca  50000 non-null  int64
 12  asma                 50000 non-null  int64
 13  epoc                 50000 non-null  int64
 14  mut_BRCA1            50000 non-null  int64
 15  mut_TP53             50000 non-null  int64
 16  mut_EGFR             50000 non-null  int64
 17  mut_KRAS             50000 non-null  int64
 18  mut_PIK3CA           50000 non-null  int64
 19  mut_ALK              50000 non-null  int64
 20  mut_BRAF             50000 non-null  int64
 21  ingresos_mensuales   50000 non-null  float64
 22  gastos_salud         50000 non-null  int64
 23  seguro_salud         50000 non-null  int64
 24  deudas               50000 non-null  int64
 25  tipo_empleo          50000 non-null  object
 26  ayudas_publicas      50000 non-null  int64
 27  fumador              50000 non-null  int64
 28  alcohol              50000 non-null  int64
 29  actividad_fisica     50000 non-null  object
 30  vive                 50000 non-null  int64
 31  edad                 50000 non-null  int64
 32  sexo                 50000 non-null  object
 33  estado_civil         50000 non-null  object
 34  nivel_educativo      50000 non-null  object
 35  ocupacion            50000 non-null  object
 36  region               50000 non-null  object
 37  pais_nacimiento      50000 non-null  object
 38  codigo_postal        50000 non-null  int64
dtypes: float64(8), int64(23), object(8)
memory usage: 15.3+ MB

In [209]:
df.describe(include='all')

,glucosa,colesterol,trigliceridos,hemoglobina,leucocitos,plaquetas,creatinina,diabetes,hipertension,obesidad,cancer,enfermedad_cardiaca,asma,epoc,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF,ingresos_mensuales,gastos_salud,seguro_salud,deudas,tipo_empleo,ayudas_publicas,fumador,alcohol,actividad_fisica,vive,edad,sexo,estado_civil,nivel_educativo,ocupacion,region,pais_nacimiento,codigo_postal
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000,50000,50000.0,50000.000000,50000.0,50000,50000.000000,50000.000000,50000,50000,50000,50000,50000,50000,50000.00000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,3,NaN,NaN,2,4,4,4,5,243,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Desempleado,NaN,NaN,NaN,Moderada,NaN,NaN,F,Casado,Secundaria,Jubilado,Centro,Congo,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10065,NaN,NaN,NaN,20821,NaN,NaN,25086,12628,12638,12568,10094,439,NaN
mean,94.256713,196.260309,147.157669,13.502815,7.053920,249.990116,1.039304,0.212540,0.262800,0.368300,0.118140,0.194140,0.0,0.036220,0.098940,0.099860,0.102120,0.100500,0.101340,0.103380,0.100300,1701.924308,228.762000,1.0,0.192720,NaN,1.0,0.364360,1.0,NaN,0.871680,53.398700,NaN,NaN,NaN,NaN,NaN,NaN,50001.09824
std,12.925690,26.787774,26.810501,1.001045,1.010373,39.910050,0.214209,0.409109,0.440159,0.482348,0.322777,0.395541,0.0,0.186839,0.298584,0.299816,0.302809,0.300669,0.301781,0.304458,0.300403,665.406504,88.941023,0.0,0.394439,NaN,0.0,0.481255,0.0,NaN,0.334449,20.799006,NaN,NaN,NaN,NaN,NaN,NaN,28692.22255
min,50.860000,103.280000,46.700000,9.440000,2.890000,97.030000,0.180000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000,150.000000,1.0,0.000000,NaN,1.0,0.000000,1.0,NaN,0.000000,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,501.00000
25%,85.180000,177.260000,128.767500,12.820000,6.370000,223.180000,0.890000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1240.310000,150.000000,1.0,0.000000,NaN,1.0,0.000000,1.0,NaN,1.000000,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,25049.75000
50%,93.160000,195.090000,147.210000,13.500000,7.050000,250.440000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1696.680000,250.000000,1.0,0.000000,NaN,1.0,0.000000,1.0,NaN,1.000000,53.000000,NaN,NaN,NaN,NaN,NaN,NaN,49844.00000
75%,102.460000,214.320000,165.110000,14.180000,7.730000,276.850000,1.180000,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2154.200000,250.000000,1.0,0.000000,NaN,1.0,1.000000,1.0,NaN,1.000000,71.000000,NaN,NaN,NaN,NaN,NaN,NaN,74866.25000
max,148.090000,297.330000,259.090000,17.800000,11.210000,418.260000,1.940000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4359.950000,550.000000,1.0,1.000000,NaN,1.0,1.000000,1.0,NaN,1.000000,89.000000,NaN,NaN,NaN,NaN,NaN,NaN,99943.00000

In [210]:
# Mostrar la cantidad de valores nulos segun cada columna 
df.isnull().sum()

glucosa                0
colesterol             0
trigliceridos          0
hemoglobina            0
leucocitos             0
plaquetas              0
creatinina             0
diabetes               0
hipertension           0
obesidad               0
cancer                 0
enfermedad_cardiaca    0
asma                   0
epoc                   0
mut_BRCA1              0
mut_TP53               0
mut_EGFR               0
mut_KRAS               0
mut_PIK3CA             0
mut_ALK                0
mut_BRAF               0
ingresos_mensuales     0
gastos_salud           0
seguro_salud           0
deudas                 0
tipo_empleo            0
ayudas_publicas        0
fumador                0
alcohol                0
actividad_fisica       0
vive                   0
edad                   0
sexo                   0
estado_civil           0
nivel_educativo        0
ocupacion              0
region                 0
pais_nacimiento        0
codigo_postal          0
dtype: int64

In [211]:
df.duplicated().sum()  # Verificar si hay filas duplicadas

0

In [212]:
v_continuas = []
v_categoricas = []
v_binarias = []
for i in df.columns:
    if df[i].nunique() == 2:
        v_binarias.append(i)
    elif df[i].nunique() > 55 and df[i].dtypes in ['float64', 'int64']:
        v_continuas.append(i)
    else:
        v_categoricas.append(i)

print('Variables continuas: {}'.format(', '.join(v_continuas)))
print('Variables categóricas: {}'.format(', '.join(v_categoricas)))
print('Variables binarias: {}'.format(', '.join(v_binarias)))

Variables continuas: glucosa, colesterol, trigliceridos, hemoglobina, leucocitos, plaquetas, creatinina, ingresos_mensuales, edad, codigo_postal
Variables categóricas: asma, gastos_salud, seguro_salud, tipo_empleo, ayudas_publicas, alcohol, actividad_fisica, estado_civil, nivel_educativo, ocupacion, region, pais_nacimiento
Variables binarias: diabetes, hipertension, obesidad, cancer, enfermedad_cardiaca, epoc, mut_BRCA1, mut_TP53, mut_EGFR, mut_KRAS, mut_PIK3CA, mut_ALK, mut_BRAF, deudas, fumador, vive, sexo

In [213]:
df[v_categoricas].head(33)

,asma,gastos_salud,seguro_salud,tipo_empleo,ayudas_publicas,alcohol,actividad_fisica,estado_civil,nivel_educativo,ocupacion,region,pais_nacimiento
paciente_id,,,,,,,,,,,,
P1000000,0,450,1,Público,1,1,Baja,Viudo,Secundaria,Empleado,Centro,Indonesia
P1000001,0,150,1,Temporal,1,1,Moderada,Soltero,Universitaria,Autónomo,Sur,Brazil
P1000002,0,150,1,Desempleado,1,1,Baja,Viudo,Primaria,Desempleado,Norte,Saint Pierre and Miquelon
P1000003,0,450,1,Temporal,1,1,Baja,Viudo,Secundaria,Autónomo,Centro,Indonesia
P1000004,0,150,1,Temporal,1,1,Moderada,Soltero,Posgrado,Autónomo,Norte,Chile
P1000005,0,150,1,Privado,1,1,Moderada,Divorciado,Primaria,Autónomo,Norte,Cuba
P1000006,0,250,1,Privado,1,1,Alta,Casado,Universitaria,Desempleado,Norte,American Samoa
P1000007,0,150,1,Desempleado,1,1,Moderada,Divorciado,Primaria,Desempleado,Oeste,Montenegro
P1000008,0,250,1,Público,1,1,Baja,Divorciado,Secundaria,Desempleado,Este,Cameroon
P1000009,0,150,1,Desempleado,1,1,Alta,Casado,Posgrado,Empleado,Este,Barbados
P1000010,0,150,1,Autónomo,1,1,Moderada,Viudo,Universitaria,Autónomo,Centro,Slovenia
P1000011,0,150,1,Privado,1,1,Moderada,Divorciado,Primaria,Autónomo,Norte,Greenland
P1000012,0,150,1,Desempleado,1,1,Alta,Viudo,Primaria,Desempleado,Norte,China
P1000013,0,350,1,Autónomo,1,1,Baja,Casado,Posgrado,Autónomo,Este,Somalia
P1000014,0,150,1,Autónomo,1,1,Baja,Casado,Secundaria,Autónomo,Norte,Senegal
P1000015,0,150,1,Autónomo,1,1,Moderada,Casado,Posgrado,Jubilado,Norte,Korea
P1000016,0,250,1,Desempleado,1,1,Moderada,Viudo,Posgrado,Empleado,Norte,Palau
P1000017,0,250,1,Privado,1,1,Baja,Soltero,Primaria,Autónomo,Sur,Swaziland
P1000018,0,150,1,Autónomo,1,1,Moderada,Divorciado,Universitaria,Desempleado,Sur,Antigua and Barbuda
P1000019,0,250,1,Autónomo,1,1,Baja,Soltero,Secundaria,Autónomo,Sur,Holy See (Vatican City State)
P1000020,0,350,1,Autónomo,1,1,Baja,Soltero,Secundaria,Desempleado,Centro,Netherlands
P1000021,0,250,1,Temporal,1,1,Moderada,Viudo,Posgrado,Autónomo,Norte,Equatorial Guinea
P1000022,0,250,1,Público,1,1,Baja,Viudo,Secundaria,Jubilado,Sur,Samoa
P1000023,0,450,1,Desempleado,1,1,Moderada,Divorciado,Posgrado,Desempleado,Sur,Montserrat
P1000024,0,150,1,Desempleado,1,1,Baja,Divorciado,Primaria,Jubilado,Oeste,San Marino
P1000025,0,250,1,Privado,1,1,Baja,Divorciado,Universitaria,Autónomo,Centro,Cayman Islands
P1000026,0,350,1,Público,1,1,Baja,Soltero,Universitaria,Jubilado,Sur,Malta
P1000027,0,250,1,Autónomo,1,1,Baja,Casado,Secundaria,Jubilado,Sur,San Marino
P1000028,0,250,1,Público,1,1,Baja,Divorciado,Primaria,Jubilado,Sur,Tuvalu
P1000029,0,350,1,Público,1,1,Baja,Viudo,Secundaria,Autónomo,Oeste,Montserrat
P1000030,0,150,1,Autónomo,1,1,Baja,Soltero,Secundaria,Empleado,Oeste,Benin
P1000031,0,150,1,Público,1,1,Alta,Viudo,Universitaria,Jubilado,Centro,United States of America
P1000032,0,150,1,Temporal,1,1,Baja,Soltero,Posgrado,Desempleado,Norte,Bahamas

In [214]:
df[v_categoricas].nunique()

asma                  1
gastos_salud          5
seguro_salud          1
tipo_empleo           5
ayudas_publicas       1
alcohol               1
actividad_fisica      3
estado_civil          4
nivel_educativo       4
ocupacion             4
region                5
pais_nacimiento     243
dtype: int64

In [215]:
df.drop(columns=["asma", "alcohol", "ayudas_publicas", "seguro_salud"], inplace=True)  # Eliminar la columna 'id' del DataFrame

In [216]:
v_categoricas.remove("asma")
v_categoricas.remove("alcohol")
v_categoricas.remove("ayudas_publicas")
v_categoricas.remove("seguro_salud")

In [217]:
# Hacer ordinal encoder en las variables categóricas actividad_fisica [Baja, Moderada, Alta], nivel_educativo [Primaria, Secundaria, Universitaria, Posgrado]
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[['Baja', 'Moderada', 'Alta'], ['Primaria', 'Secundaria', 'Universitaria', 'Posgrado']])
df[['actividad_fisica', 'nivel_educativo']] = encoder.fit_transform(df[['actividad_fisica', 'nivel_educativo']])

In [218]:
import pycountry_convert as pc

def country_to_continent(country_name):
    try:
        country_code = pc.country_name_to_country_alpha2(country_name)
        continent_code = pc.country_alpha2_to_continent_code(country_code)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except:
        return 'Desconocido'  # Para países no reconocidos

df['continente_nacimiento'] = df['pais_nacimiento'].apply(country_to_continent)
v_categoricas.append('continente_nacimiento')
v_categoricas.remove("pais_nacimiento")

In [219]:
# Columnas categóricas a codificar
columnas_categoricas = ['tipo_empleo', 'estado_civil', 'ocupacion', 'region', 'continente_nacimiento']

# Aplicar One-Hot Encoding con pandas
df = pd.get_dummies(df, columns=columnas_categoricas, drop_first=True)
v_categoricas.remove("tipo_empleo")
v_categoricas.remove("estado_civil")
v_categoricas.remove("ocupacion")
v_categoricas.remove("region")
v_categoricas.remove("continente_nacimiento")

In [220]:
#hame un standard scaler en la variable gastos_salud en df["gastos_salud"]
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['gastos_salud'] = scaler.fit_transform(df[['gastos_salud']])

# Guardar el DataFrame modificado en un nuevo archivo CSV

In [221]:
# en estas columnas quiero sustituir false por 0 y true por 1 tipo_empleo_Desempleado	tipo_empleo_Privado	tipo_empleo_Público	tipo_empleo_Temporal	estado_civil_Divorciado	estado_civil_Soltero	estado_civil_Viudo	ocupacion_Desempleado	ocupacion_Empleado	ocupacion_Jubilado	region_Este	region_Norte	region_Oeste	region_Sur	continente_nacimiento_Antarctica	continente_nacimiento_Asia	continente_nacimiento_Desconocido	continente_nacimiento_Europe	continente_nacimiento_North America	continente_nacimiento_Oceania	continente_nacimiento_South America
df.replace({'tipo_empleo_Desempleado': {False: 0, True: 1},
                'tipo_empleo_Privado': {False: 0, True: 1},
                'tipo_empleo_Público': {False: 0, True: 1},
                'tipo_empleo_Temporal': {False: 0, True: 1},
                'estado_civil_Divorciado': {False: 0, True: 1},
                'estado_civil_Soltero': {False: 0, True: 1},
                'estado_civil_Viudo': {False: 0, True: 1},
                'ocupacion_Desempleado': {False: 0, True: 1},
                'ocupacion_Empleado': {False: 0, True: 1},
                'ocupacion_Jubilado': {False: 0, True: 1},
                'region_Este': {False: 0, True: 1},
                'region_Norte': {False: 0, True: 1},
                'region_Oeste': {False: 0, True: 1},
                'region_Sur': {False: 0, True: 1},
                'continente_nacimiento_Antarctica': {False: 0, True: 1},
                'continente_nacimiento_Asia': {False: 0, True: 1},
                'continente_nacimiento_Desconocido': {False: 0, True: 1},
                'continente_nacimiento_Europe': {False: 0, True: 1},
                'continente_nacimiento_North America': {False: 0, True: 1},
                'continente_nacimiento_Oceania': {False: 0, True: 1},
                'continente_nacimiento_South America': {False: 0, True: 1}}, inplace=True)

C:\Users\josit\AppData\Local\Temp\ipykernel_16580\1012115957.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'tipo_empleo_Desempleado': {False: 0, True: 1},

In [222]:

# Eliminar la columna 'pais_nacimiento' del DataFrame
df.drop(columns=["pais_nacimiento"], inplace=True)  # Eliminar la columna 'id' del DataFrame

In [223]:
df.head()

,glucosa,colesterol,trigliceridos,hemoglobina,leucocitos,plaquetas,creatinina,diabetes,hipertension,obesidad,cancer,enfermedad_cardiaca,epoc,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF,ingresos_mensuales,gastos_salud,deudas,fumador,actividad_fisica,vive,edad,sexo,nivel_educativo,codigo_postal,tipo_empleo_Desempleado,tipo_empleo_Privado,tipo_empleo_Público,tipo_empleo_Temporal,estado_civil_Divorciado,estado_civil_Soltero,estado_civil_Viudo,ocupacion_Desempleado,ocupacion_Empleado,ocupacion_Jubilado,region_Este,region_Norte,region_Oeste,region_Sur,continente_nacimiento_Antarctica,continente_nacimiento_Asia,continente_nacimiento_Desconocido,continente_nacimiento_Europe,continente_nacimiento_North America,continente_nacimiento_Oceania,continente_nacimiento_South America
paciente_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
P1000000,108.81,226.16,161.07,13.24,6.12,258.09,0.97,1,1,1,0,1,0,0,0,0,0,0,0,1,2699.72,2.487493,0,1,0.0,1,69,F,1.0,98471,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
P1000001,74.23,148.89,110.77,13.68,6.97,278.32,0.85,0,0,0,0,0,0,0,0,0,0,0,0,1,3403.55,-0.885562,0,0,1.0,0,32,M,2.0,23903,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
P1000002,88.61,177.53,91.93,12.76,7.54,245.35,1.59,0,0,0,0,0,1,0,0,0,0,0,0,0,2422.41,-0.885562,0,1,0.0,1,89,M,0.0,20094,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0
P1000003,90.92,203.97,121.79,12.95,8.56,245.11,1.26,1,0,1,1,1,0,0,0,0,1,0,0,0,1695.42,2.487493,0,1,0.0,0,78,M,1.0,55575,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
P1000004,69.17,154.33,78.34,12.34,8.20,234.44,0.88,0,0,0,0,0,0,0,0,0,0,0,0,0,1709.51,-0.885562,0,1,1.0,1,38,F,3.0,20826,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [226]:
df[v_continuas].head()

,glucosa,colesterol,trigliceridos,hemoglobina,leucocitos,plaquetas,creatinina,ingresos_mensuales,edad,codigo_postal
paciente_id,,,,,,,,,,
P1000000,108.81,226.16,161.07,13.24,6.12,258.09,0.97,2699.72,69,98471
P1000001,74.23,148.89,110.77,13.68,6.97,278.32,0.85,3403.55,32,23903
P1000002,88.61,177.53,91.93,12.76,7.54,245.35,1.59,2422.41,89,20094
P1000003,90.92,203.97,121.79,12.95,8.56,245.11,1.26,1695.42,78,55575
P1000004,69.17,154.33,78.34,12.34,8.20,234.44,0.88,1709.51,38,20826

In [230]:
# estandarizar glucosa	colesterol	trigliceridos	hemoglobina	leucocitos	plaquetas	creatinina	ingresos_mensuales	edad
v_continuas.remove("codigo_postal")
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[v_continuas] = scaler.fit_transform(df[v_continuas])

In [231]:
df.head()

,glucosa,colesterol,trigliceridos,hemoglobina,leucocitos,plaquetas,creatinina,diabetes,hipertension,obesidad,cancer,enfermedad_cardiaca,epoc,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF,ingresos_mensuales,gastos_salud,deudas,fumador,actividad_fisica,vive,edad,sexo,nivel_educativo,codigo_postal,tipo_empleo_Desempleado,tipo_empleo_Privado,tipo_empleo_Público,tipo_empleo_Temporal,estado_civil_Divorciado,estado_civil_Soltero,estado_civil_Viudo,ocupacion_Desempleado,ocupacion_Empleado,ocupacion_Jubilado,region_Este,region_Norte,region_Oeste,region_Sur,continente_nacimiento_Antarctica,continente_nacimiento_Asia,continente_nacimiento_Desconocido,continente_nacimiento_Europe,continente_nacimiento_North America,continente_nacimiento_Oceania,continente_nacimiento_South America
paciente_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
P1000000,1.125931,1.116180,0.518919,-0.262543,-0.924342,0.202956,-0.323535,1,1,1,0,1,0,0,0,0,0,0,0,1,1.499543,2.487493,0,1,0.0,1,0.750106,F,1.0,98471,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
P1000001,-1.549388,-1.768373,-1.357231,0.177002,-0.083060,0.709850,-0.883740,0,0,0,0,0,0,0,0,0,0,0,0,1,2.557298,-0.885562,0,0,1.0,0,-1.028843,M,2.0,23903,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
P1000002,-0.436864,-0.699218,-2.059947,-0.742047,0.481094,-0.116266,2.570857,0,0,0,0,0,1,0,0,0,0,0,0,0,1.082786,-0.885562,0,1,0.0,1,1.711700,M,0.0,20094,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0
P1000003,-0.258148,0.287809,-0.946194,-0.552243,1.490633,-0.122279,1.030293,1,0,1,1,1,0,0,0,0,1,0,0,0,-0.009775,2.487493,0,1,0.0,0,1.182823,M,1.0,55575,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
P1000004,-1.940861,-1.565293,-2.566843,-1.161613,1.134325,-0.389633,-0.743689,0,0,0,0,0,0,0,0,0,0,0,0,0,0.011400,-0.885562,0,1,1.0,1,-0.740365,F,3.0,20826,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [232]:
df[v_binarias].head()

,diabetes,hipertension,obesidad,cancer,enfermedad_cardiaca,epoc,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF,deudas,fumador,vive,sexo
paciente_id,,,,,,,,,,,,,,,,,
P1000000,1,1,1,0,1,0,0,0,0,0,0,0,1,0,1,1,F
P1000001,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,M
P1000002,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,M
P1000003,1,0,1,1,1,0,0,0,0,1,0,0,0,0,1,0,M
P1000004,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,F

In [236]:
# en la columna sexo quiero sustituir M por 0 y F por 1
df.replace({'sexo': {'M': 0, 'F': 1}}, inplace=True)

C:\Users\josit\AppData\Local\Temp\ipykernel_16580\3076608794.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'sexo': {'M': 0, 'F': 1}}, inplace=True)

In [237]:
df.head()

,glucosa,colesterol,trigliceridos,hemoglobina,leucocitos,plaquetas,creatinina,diabetes,hipertension,obesidad,cancer,enfermedad_cardiaca,epoc,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF,ingresos_mensuales,gastos_salud,deudas,fumador,actividad_fisica,vive,edad,sexo,nivel_educativo,codigo_postal,tipo_empleo_Desempleado,tipo_empleo_Privado,tipo_empleo_Público,tipo_empleo_Temporal,estado_civil_Divorciado,estado_civil_Soltero,estado_civil_Viudo,ocupacion_Desempleado,ocupacion_Empleado,ocupacion_Jubilado,region_Este,region_Norte,region_Oeste,region_Sur,continente_nacimiento_Antarctica,continente_nacimiento_Asia,continente_nacimiento_Desconocido,continente_nacimiento_Europe,continente_nacimiento_North America,continente_nacimiento_Oceania,continente_nacimiento_South America
paciente_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
P1000000,1.125931,1.116180,0.518919,-0.262543,-0.924342,0.202956,-0.323535,1,1,1,0,1,0,0,0,0,0,0,0,1,1.499543,2.487493,0,1,0.0,1,0.750106,1,1.0,98471,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
P1000001,-1.549388,-1.768373,-1.357231,0.177002,-0.083060,0.709850,-0.883740,0,0,0,0,0,0,0,0,0,0,0,0,1,2.557298,-0.885562,0,0,1.0,0,-1.028843,0,2.0,23903,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
P1000002,-0.436864,-0.699218,-2.059947,-0.742047,0.481094,-0.116266,2.570857,0,0,0,0,0,1,0,0,0,0,0,0,0,1.082786,-0.885562,0,1,0.0,1,1.711700,0,0.0,20094,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0
P1000003,-0.258148,0.287809,-0.946194,-0.552243,1.490633,-0.122279,1.030293,1,0,1,1,1,0,0,0,0,1,0,0,0,-0.009775,2.487493,0,1,0.0,0,1.182823,0,1.0,55575,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
P1000004,-1.940861,-1.565293,-2.566843,-1.161613,1.134325,-0.389633,-0.743689,0,0,0,0,0,0,0,0,0,0,0,0,0,0.011400,-0.885562,0,1,1.0,1,-0.740365,1,3.0,20826,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [238]:
# guarda el nuevo DataFrame en un nuevo archivo CSV en C:\Users\josit\TERCER CURSO\IA\IA-Casos\csv\raw
df.to_csv(r"C:\Users\josit\TERCER CURSO\IA\IA-Casos\csv\raw\Csv_Todas_Columnas_Limpio.csv", index=False, decimal=',')
# Cargar el archivo CSV en un DataFrame